
@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


</head>
<body>
    <h2>Welcome</h2>
    <p>Please select an excel file to Import</p>
    <form method="post" enctype="multipart/form-data" asp-action="Index">
        <div class="row">
            <div class="col-md-4">
                <input type="file" name="Upload" class="form-control" />
            </div>
            <div class="pt-2-sm col-md-8">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
    

</body>
</html>

