
@{
    Layout = "_Layout";
}



    <form method="post" enctype="multipart/form-data" asp-action="OnPostImport">
        <div class="row">
            <div class="col-md-4">
                <input type="file" id="fUpload" name="files" class="form-control" />
            </div>
            <div class="col-md-8">
                <input type="submit" asp-action="OnPostImport" value="Upload" />
            </div>
        </div>
    </form>
    <form method="post" asp-action="OnPostExport" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8" style="padding-top:10px;">
                <button type="submit">Export</button>
            </div>
        </div>
        <div id="dvData"></div>
    </form>
    


