body {
}
.Home-title {
    font-size: 5rem ;
}
.form-detail {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px){
    .upload-btn{
        padding-top: 20px;
    }
}